.main {

    box-sizing: border-box;

    display: block;

    width: 661px;
    min-height: 100%;

    padding-top: 1px;
    padding-bottom: 50px;

    background-color: #C4C4C4;
}

.page__main {

    margin-left: auto;
    margin-right: auto;
}

.search {

    position: relative;

    z-index: 100;

    width: 500px;
    height: 61px;
}

.main__search {

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.input {

    display: block;

    width: 100%;
    height: 100%;

    font-family: 'Roboto', 'Arial', serif;
    font-weight: 400;
    font-size: 48px;
}

.input::placeholder {

    font-size: 32px;
    color: lightgray;
}

.select {

    position: absolute;
    display: block;

    width: 500px;

    font-family: 'Roboto', 'Arial', serif;
    font-weight: 400;
    font-size: 30px;

    background-color: #E3E3E3;

    overflow: hidden;
}

.option {

    border: 2px solid black;
}

.option:checked {

    background-color: #65CDF9;
}

.option:hover {

    background-color: #65CDF9;
}

.search__select {

    margin-left: auto;
    margin-right: auto;
}

.main__card {

    margin-left: auto;
    margin-right: auto;
}

.card {

    position: relative;
    display: block;

    padding: 10px;

    width: 503px;

    border: 1px solid black;
    background-color: #E27BEB;

    font-family: 'Roboto', 'Arial', serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.card__item {

    margin: 0;
}

.card__button {

    position: absolute;

    top: 20px;
    right: 20px;

    border: none;

    background-color: transparent;
}

.card__button:hover {

    cursor: pointer;
} 